.git
.idea
node_modules
vendor
.env
.editorconfig
/storage/framework/**
/storage/app/**
/storage/logs/**
/bootsrap/cache
/public/storage
/public/hot
/.phpunit.cache
**/.DS_Store
/.fleet
/.idea
/.vscode
npm-debug.log
yarn-error.log
